* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes animateColor {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

body {
    min-height: 100svh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animateColor 7.5s ease-in-out infinite;
}

.input-display-area {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    height: 100svh;
}


.input-area,
.display-area {
    display: none;
}

.input-display-area.input-active .input-area {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
}

.input-display-area.display-active .display-area {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 2rem;
}

#Rollname {
    display: block;
    position: absolute;
    width: 100%;
    top: 4rem;
    left: 0;
    text-align: center;
    color: #fff;
}

.input-area input {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
    outline: none;
    border: none;
    border-bottom: 3px solid red;
    border-radius: 10px;
    padding: 0px 10px;
    text-align: center;
    background: none;
}

.input-area button {
    display: inline-block;
    width: 60%;
    align-self: center;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
    padding: 0.3rem 0.2rem;
    border: none;
    outline: 1px solid black;
    border-radius: 10px;
    font-weight: 700;
    background: green;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animateColor 8s ease-in-out infinite;
}

.display-area #Rollnum {
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.46);
    font-size: 8rem;
    color: #fff;
}

.list-area {
    width: 40%;
    margin-left: 60%;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border-left: 3px solid rgba(255, 255, 255, 0.46);
}

.list-area h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}

.list-area h3 a{
    font-size: 1.3rem;
    outline: 1px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    color: white;
}

.list-area h3 a:hover{
   color: black;
    background: rgba(255, 255, 255, 0.256);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    transition: 1s ease;
}


.list-area li {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.46);
    padding: 1rem;
    position: relative;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.list-area li p:nth-child(1){
    font-weight: bold;
}

.list-area li p:nth-child(2){
    position: absolute;
    left: 5rem;
}
.list-area li span{
    color: rgb(127, 0, 0);
    cursor: pointer;

}


/* all css for result.html */

.BUTTONS{
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 2px;
    padding: 0.5rem 2rem;
    text-decoration: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.46);
}
.resBack{
    top: 2rem;
    left: 2rem;
}
.gitbtn{
    bottom: 2rem;
    left: 2rem;
}

.result-page{
    display: flex;
    width: 100%;
    /* height: 100svh; */
    align-items: center;
    flex-direction: column;
}

.result-page .header{
    margin: 3rem 0;
    /* text-align: center; */
    font-size: 3rem;
    color: #fff;
}

.result-page .winnerNum{
    color: #fff;
    font-size: 10rem;
}
.result-page .winnerName{
    margin-top: 2rem;
    color: #fff;
    font-size: 5rem;
}
